[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-login = "*"
werkzeug = "*"
itsdangerous = "*"
flask-email = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.9"
